<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="4b3c53df-e2a7-42c2-8d6a-2d702d2117bf"
    Publisher="CN=yahav"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4b3c53df-e2a7-42c2-8d6a-2d702d2117bf" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>final_project</DisplayName>
    <PublisherDisplayName>yahav</PublisherDisplayName>
    <Logo>Assets\Icon\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="final_project.App"
	  desktop4:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="final_project"
        Square150x150Logo="Assets\Icon\Square150x150Logo.png"
        Square44x44Logo="Assets\Icon\Square44x44Logo.png"
        Description="final_project"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Icon\Wide310x150Logo.png" Square71x71Logo="Assets\Icon\SmallTile.png" Square310x310Logo="Assets\Icon\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Icon\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	<Capability Name="internetClientServer" />
	<Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>